<div class="page-header">
  <div class="container">
    <h1>Devices</h1>
  </div>
</div>

<div class="container">
  <div class="row end-xs mt-1">
    <div class="col-xs-12">
      <input type="text" class="search-input" class="mt-1" placeholder="Search"
      [(ngModel)]="filterString"
      (keyup)="filterDevices()"
      >
      <Button>Cancel</Button>
    </div>
  </div>
  <div class="mt-1 mat-elevation-z8">

    <table mat-table matSort [dataSource]="dataSource">

      <!-- Device Icon Column -->
      <ng-container matColumnDef="DeviceIcon">
        <th mat-header-cell *matHeaderCellDef> Icon. </th>
        <td mat-cell *matCellDef="let device">

          <div *ngIf="device.type.name === 'Smart Phone'">
            <mat-icon>smartphone</mat-icon>
          </div>

          <div *ngIf="device.type.name === 'Tablet' || device.type.name === 'iPad'">
            <mat-icon>tablet</mat-icon>
          </div>

          <div *ngIf="device.type.name === 'Smart TV'">
            <mat-icon>tv</mat-icon>
          </div>

          <div *ngIf="device.type.name === 'Laptop Computer'">
            <mat-icon>laptop</mat-icon>
          </div>

          <div *ngIf="device.type.name === 'Desktop Computer'">
            <mat-icon>desktop_mac</mat-icon>
          </div>

          <div *ngIf="device.type.name === 'Computer Accessories'">
            <mat-icon>devices_other</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Device Name/Status Column -->
      <ng-container matColumnDef="DeviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Name </th>
        <td mat-cell *matCellDef="let device"> {{device.deviceName}} <span><br> {{device.deviceStatus}}</span></td>
      </ng-container>

      <!-- Sybmbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let device">
          <a [routerLink]="['/Devices' , device.id]">
            <mat-icon>error</mat-icon>
          </a>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

<mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" z->
</mat-paginator>
</div>
</div>

