<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/Devices" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>


  <div layout="row" layout-xs="column">
    <div flex="">


</div>
</div>


<!-- Main outlet -->
<router-outlet></router-outlet>
<div class="split-view-container">
  <div class="left">

    <h1>Related Devices: </h1>
    <!-- Left outlet -->

          <div class="container">
            <div class="row mt-1">
              <div class="col-xs-12">
                <input type="text" class="search-input" class="mt-1" placeholder="Search" [(ngModel)]="filterString"
                  (keyup)="filterDevices()">
                <Button>Cancel</Button>
              </div>
            </div>
          </div>
    <router-outlet name="left"></router-outlet>


<div class="mt-1 mat-elevation-z8">

  <table mat-table matSort [dataSource]="dataSourceDevices">

    <!-- Device Icon Column -->
    <ng-container matColumnDef="DeviceIcon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let device">

        <div *ngIf="device.type.name === 'Smart Phone'">
          <mat-icon>smartphone</mat-icon>
        </div>

        <div *ngIf="device.type.name === 'Tablet' || device.type.name === 'iPad'">
          <mat-icon>tablet</mat-icon>
        </div>

        <div *ngIf="device.type.name === 'Smart TV'">
          <mat-icon>tv</mat-icon>
        </div>

        <div *ngIf="device.type.name === 'Laptop Computer'">
          <mat-icon>laptop</mat-icon>
        </div>

        <div *ngIf="device.type.name === 'Desktop Computer'">
          <mat-icon>desktop_mac</mat-icon>
        </div>

        <div *ngIf="device.type.name === 'Computer Accessories'">
          <mat-icon>devices_other</mat-icon>
        </div>
      </td>
    </ng-container>

    <!-- Device Name/Status Column -->
    <ng-container matColumnDef="DeviceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let device"> {{device.deviceName}} <span><br> {{device.deviceStatus}}</span></td>
    </ng-container>

    <!-- Sybmbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let device">
        <a [routerLink]="['/Devices' , device.id]">

        </a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" z->
            </mat-paginator> -->


</div>



  </div>
  <div class="right">

    <h2>Device Details: {{selectedDevice.deviceName}}</h2>

    <!-- Right outlet -->
    <router-outlet name="right"></router-outlet>

    <p> Status: {{selectedDevice.deviceStatus}} </p>
    <p> Temperature: {{selectedDevice.deviceTemp}}
    <p> Usage: </p><img src={{imageUrl}} />

  </div>

  </div>
</div>
